---
layout: archive
entries_layout: grid
classes: wide
---
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome to my Portfolio</title>

  <style>
    body {
      margin-left: -1000px; /* Adjust the left margin to your preference */
    }

    .image-container {
      display: flex;
      align-items: center; /* Vertically center content */
    }

    .left-image {
      max-width: 50%; /* Adjust the width of the image */
      margin-right: 20px; /* Adjust the spacing between image and text */
    }

    .text-content {
      max-width: 50%; /* Adjust the width of the text content */
    }
  </style>
</head>

<body>

  <div class="image-container">
    <img src="https://kalon30.github.io/Portfolio/assets/images/bio-photo-official.jpg" alt="Bio Photo" class="left-image">
    <div class="text-content">
      <h1>Welcome to my Portfolio</h1>
      <p>Quick Access</p>
    </div>
  </div>

</body>
