---
layout: archive
entries_layout: grid
classes: wide
---

<style>
  .image-container {
    display: flex;
    align-items: center; /* Vertically center content */
  }

  .left-image {
    max-width: 50%; /* Adjust the width of the image */
    margin-right: 20px; /* Adjust the spacing between image and text */
  }

  .text-content {
    max-width: 50%; /* Adjust the width of the text content */
  }
</style>

<div class="image-container">
  <img src="https://kalon30.github.io/Portfolio/assets/images/bio-photo-official.jpg" alt="Bio Photo" class="left-image">
  <div class="text-content">
    <h2>Welcome to my Portfolio</h2>
    <p>Within these pages, you'll find a collection of 15 artifacts, each representing a pivotal moment in my academic and professional development. While my journey has encompassed various aspects of librarianship, from community engagement to information literacy, it has been grounded in a steadfast commitment to helping people and rewriting what a librarian looks like.</p>
    <p>Though my portfolio may not emphasize the technical side of librarianship, this journey has ignited a passion for it... I'm excited to explore and see what the future holds.</p>
  </div>
</div>