---
layout: archive
entries_layout: grid
classes: wide
---

<style>
  .image-container {
    display: flex;
    align-items: center; /* Vertically center content */
  }

  .left-image {
    max-width: 50%; /* Adjust the width of the image */
    margin-right: 20px; /* Adjust the spacing between image and text */
  }

  .text-content {
    max-width: 50%; /* Adjust the width of the text content */
  }
</style>

<div class="image-container">
  <img src="https://kalon30.github.io/Portfolio/assets/images/bio-photo-official.jpg" alt="Bio Photo" class="left-image">
  <div class="text-content">
    <h1>Welcome to my Portfolio</h1>
    <p>Within these pages, you'll find a collection of 15 artifacts, each representing a pivotal moment in my academic and professional development. While my journey has touched upon various aspects of librarianship, from community engagement to information literacy, it has been anchored by a steadfast commitment to social justice.

As you explore my portfolio, you'll notice a recurring theme: a dedication to amplifying marginalized voices and addressing systemic inequalities. Through my coursework and experiences, I have honed my skills in advocacy, outreach, and resource allocation, recognizing the profound impact that libraries can have on individuals and communities alike. As an advocate for diversity and inclusion, I am committed to challenging these disparities and fostering a more representative and equitable profession.

While my portfolio may not focus much on the technical side of librarianship, this journey has ignited a passion for it... I'm excited to see what the future holds.

Thank you for joining me on this reflective journey.</p>
  </div>
</div>